<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">Animal Shelters</h3></div>
  <div class="panel body"></div>
  <!-- shelter table listing all existing shelters -->
  <table class="shelters_table">
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Person</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @shelters.each do |shelter| %>
    <tr>
      <td><%= shelter.name %></td>
      <td><%= shelter.phone_number %></td>
      <td><%= shelter.contact_person %></td>
      <td>&nbsp;</td>
      <td><%= link_to "Show", rescue_group_shelter_path(@rescue_group, shelter) %></td>
      <td><%= link_to "Edit", edit_rescue_group_shelter_path(@rescue_group, shelter) %></td>
      <td><%= link_to "Delete", rescue_group_shelter_path(@rescue_group, shelter), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </table>
  <br />
  <div class="panel-info" align="center"><%= link_to "Create a New Shelter", new_rescue_group_shelter_path(@rescue_group) %> - <%= link_to "Return to Dashboard", dashboard_path %></div>
  <div class="panel-footer">Copyright &copy; 2013 D Deryl Downey. All Rights Reserved.</div>
</div>
