<h1>New Shelter</h1>
<%= form_for [@rescue_group, @shelter], signed: true do |f| %>
    <% if @shelter.errors.any? %>
      <div class="panel panel-danger">
        <ul>
          <% @shelter.errors.full_messages.each do |err_msg| %>
            <li><%= err_msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label :name, "Full Name" %>
      <%= f.text_field :name %><br />
    </p>

    <p>
      <%= f.label :phone_number, 'Phone Number' %>
      <%= f.text_field :phone_number %><br />
    </p>

    <p>
      <%= f.label :contact_person, 'Contact Person' %>
      <%= f.text_field :contact_person %><br />
    </p>

    <h3>Address</h3>
    <%= f.fields_for :address do |builder| %>
        <p>
          <%= builder.label :address1, "Address Line 1" %>
          <%= builder.text_field :address1 %><br />
          <%= builder.label :address2, "Address Line 2" %>
          <%= builder.text_field :address2 %><br />
          <%= builder.label :address3, "Address Line 3" %>
          <%= builder.text_field :address3 %><br />
          <%= builder.label :city, "City" %>
          <%= builder.text_field :city %><br />
          <%= builder.label :state, "State" %>
          <%= builder.text_field :state %><br />
          <%= builder.label :zip, "Zip Code" %>
          <%= builder.text_field :zip %><br />
        </p>
    <% end %>

    <h3>Animal</h3>
    <%= f.fields_for :animals do |builder| %>
        <p>
          <%= render "animals/form", :f => builder %>
        </p>
    <% end %>
  <%= f.submit %>
<% end %>
