<h2><%= title(@shelter.name, "Shelters") %></h2>
<p>
  <strong>Shelter Name:</strong> <%= @shelter.name %><br/>
  <strong>Contact:</strong> <%= @shelter.contact_person %><br/>
  <strong>Phone Number:</strong> <%= @shelter.phone_number %><br />
  <strong>Address:</strong><br />

  <!-- Now, some of the following fields can be either nil or blank.
       So, we are going to check for both conditions and only display
       those fields that actually contain displayable data.
  -->
  <% %w[address1 address2 address3].each do |line| %>
    <% unless @shelter.address.send(line.to_sym).nil? || @shelter.address.send(line.to_sym).blank? %>
      <%= "#{@shelter.address.send(line.to_sym)}" %><br />
    <% end %>
  <% end %>

  <!-- These fields are Model validated fields. They *will* be in the db
       since the Address model won't save w/o them the first place. 
       We're keeping them on the same line since they would be on an envelope
  -->
  <% %w[city state zip].each do |line| %>
    <%= "#{@shelter.address.send(line.to_sym)}" %>
  <% end %>
  <br />
</p>

<p>
<%= link_to "Go to Dashboard", dashboard_path %>
</p>
