<div class="panel panel-info", data-no-turbolink>
  <div class="panel-heading">Registered User Sign In!</div>

  <%= form_tag sessions_path do %>
    <div class="field">
    <%= label_tag :username %><br />
    <%= text_field_tag :username, params[:username] %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log In" %></div>
<% end %>
</div>

