<%= p current_user.inspect %>
<%= p current_user.address.inspect %>
<hr>

<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |err_msg| %>
        <li><%= err_msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Personal User Information</h1>
<div class="panel panel-default">
  <div class="panel-heading">Edit your personal information - <strong>Current password required!</strong></div>
<p>
 <%= form_for current_user, signed: true do |f| %>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %><br />
    <%= f.label :email_address %>
    <%= f.text_field :email_address %><br />
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %><br />
    <%= f.label :password %>
    <%= f.text_field :password %><br />
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %><br />
      <%= fields_for :address, current_user.address do |builder| %>
        <%= builder.label :address1 %>
        <%= builder.text_field :address1 %><br />

        <%= builder.label :address2 %>
        <%= builder.text_field :address2 %><br />

        <%= builder.label :address3 %>
        <%= builder.text_field :address3 %><br />

        <%= builder.label :city %>
        <%= builder.text_field :city %><br />

        <%= builder.label :state %>
        <%= builder.text_field :state %><br />

        <%= builder.label :zip %>
        <%= builder.text_field :zip %><br />
      <% end %>
    <%= f.submit %>
  <% end %>
  <%= link_to "Cancel", account_path %>
</p>
</div>

