<div class="panel panel-info", data-no-turbolink>
  <div class="panel-heading">New Account Registration</div>

  <%= form_for @user, signed: true do |f| %>
    <% if @user.errors.any? %>
      <div class="panel panel-danger">
        <ul>
          <% @user.errors.full_messages.each do |err_msg| %>
            <li><%= err_msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="panel panel-body">
      <%= f.label :full_name, "Full Name: " %>
      <%= f.text_field :full_name %><br />
      <%= f.label :username, "Username: " %>
      <%= f.text_field :username %><br />
      <%= f.label :email_address, "Email Address: " %>
      <%= f.text_field :email_address %><br />
      <%= f.label :phone_number, "Phone Number: " %>
      <%= f.text_field :phone_number %><br />
      <b>Registration Type: </b><%= f.select :role, options_for_select(User::ROLES_FOR_DISPLAY), prompt: 'Please Select' %><br />
      <%= f.label :password, "Password: " %>
      <%= f.password_field :password %><br />
      <%= f.label :password_confirmation, "Confirm Password: " %>
      <%= f.password_field :password_confirmation %><br />
      <%= f.fields_for :address do |builder| %>
        <%= builder.label :address1, "Address1: " %>
        <%= builder.text_field :address1 %><br />
        <%= builder.label :address2, "Address2: " %>
        <%= builder.text_field :address2 %><br />
        <%= builder.label :address3, "Address3: " %>
        <%= builder.text_field :address3 %><br />
        <%= builder.label :city, "City: " %>
        <%= builder.text_field :city %><br />
        <%= builder.label :state, "State: " %>
        <%= builder.text_field :state %><br />
        <%= builder.label :zip, "Zip Code: " %>
        <%= builder.text_field :zip %><br />
      <% end %>
      <%= f.submit %>
    </div>
  <% end %>
</div>

