<h1>User Account</h1>
<p>
<div class="panel panel-info">
  <div class="panel-heading">Your Account Information</div>
  <strong>Full Name:</strong> <%= current_user.full_name %><br />
  <strong>User ID:</strong> <%= current_user.id %><br />
  <strong>Role:</strong> <%= current_user.role %><br />
  <strong>User Email:</strong> <%= current_user.email_address %><br />
  <strong>Phone Number:</strong> <%= current_user.phone_number %><br />
  <strong>Address:</strong><br />
  <div>
    <%= current_user.address.address1 %><br />
    <% if not current_user.address.address2.nil? %>
      <%= current_user.address.address2 %><br />
  <% elsif not current_user.address.address3.nil? %>
      <%= current_user.address.address3 %>
  <% end %>
    <%= current_user.address.city %>, <%= current_user.address.state %> <%= current_user.address.zip %>
  </div>
  <%= link_to "Edit User Information", edit_user_path(current_user) %><br />
 </div>
</p>
<p>
<%= link_to "Return to Dashboard", dashboard_path %>
</p>
