<h1>Welcome to Animal Transporter Plus (The Zoie Plus)</h1>
<div class="panel panel-info">
  <div class="panel-heading">The Zoie Plus</div>
  <p>
  The Zoie Plus is an 'Animal Rescue' Transporter Network built to aid in
accepting, registering, and utilizing people who sign up to transport animals
from various shelters, to medical treatments, and on to adopters.
</p>
<p>
<img src="images/zoie.jpg" align="left" HSPACE="20" VSPACE="20">This application is dedicated to the memory of my Zoie. My Zoie was an almost
3 year old female Rottweiler, born Tuesday, March 29, 2011. She died Sunday, January 29, 2014 at 13:48 from
an over-stimulated immuno-response which attacked her own system. This stemmed
from a Brown Recluse spider bite. These 2 things coupled with massive infection
from the effects on muscle and tissue from the original spider venom ensured there
would be no chance of survival. The excellent Dr. Brian Biddle, from Town & Country in
Maysville, KY, did all that medicine, and science, could do in the time presented by this
combination.
</p>
<p>
On a personal note, I'm not good at the glizty sparklies you usually see adorning designer websites.
I have a different talent. I'm good at making things work. Zoie taught me that daily. She taught me I could do
the things needed to make things work in life. As happens with things we all do in our daily lives that our constant
does with us, my Zoie did everything with me. She taught me heaps and loads about Life. Both for her species and mine.
But mostly about us. So, this application is dedicated to her. To helping others find the joy my Zoie brought
to my own life, for their own, and to help the Zoies of the world find the one <i>they</i> complete.
</p>
