<%= f.label :species, "Species" %>
<%= f.text_field :species %><br />
<%= f.label :age, "Age" %>
<%= f.text_field :age %><br />
<%= f.label :sex, "Sex" %>
<%= f.text_field :sex %><br />
<%= f.label :weight, "Weight" %>
<%= f.text_field :weight %><br />
<%= f.label :breed, "Breed" %>
<%= f.text_field :breed %><br />
<%= f.label :altered, "Altered True/False" %>
<%= f.text_field :altered %><br />
<%= f.label :aggressive, "Agressive True/False" %>
<%= f.text_field :aggressive %><br />
<%= f.label :health_certificate, "Health Certificate True/False" %>
<%= f.text_field :health_certificate %><br />
<%= f.label :diseases, "Diseases" %>
<%= f.text_area :diseases %><br />
