<h1>Edit Your Address</h1>

<p>
<div class="panel panel-default">
  <div class="panel-heading">Edit Your Address</div>
</div>

  <%= form_for current_user, signed: true do |f| %>

    <%= fields_for :address do |builder| %>
      <%= builder.label :address1 %>
      <%= builder.text_field :address1 %><br />

      <%= builder.label :address2 %>
      <%= builder.text_field :address2 %><br />

      <%= builder.label :address3 %>
      <%= builder.text_field :address3 %><br />

      <%= builder.label :city %>
      <%= builder.text_field :city %><br />

      <%= builder.label :state %>
      <%= builder.text_field :state %><br />

      <%= builder.label :zip %>
      <%= builder.text_field :zip %><br />

    <% end %>
  <%= link_to "Cancel", account_path %> - <%= f.submit %>
<% end %>
</p>

<p>
<ul list-style-type="none">
  <li><%= link_to "Return to Account", account_path -%> - <%= link_to "Return to Dashboard", dashboard_path %></li>
</ul>
</p>

