<p>
<div class="page-header", data-no-turbo-link>
  <h1><%= current_user.full_name.titleize %>'s Dashboard</h1>
</div>

<div class="panel panel-default", data-no-turbolink>
  <div class="panel-heading">Contact Information</div>
    <strong>Name:</strong> <%= current_user.full_name %><br />
    <strong>Phone:</strong> <%= current_user.phone_number %><br />
    <strong>Email:</strong> <%= current_user.email_address %><br />
</div>
</p>
