<p>
  <div class="panel panel-info", data-no-turbolink>
    <div class="panel-heading">Guest Dashboard</div>
    <p>
      <div class="panel panel-body">
        <p>
          Any text to present to a Guest should go here!
        </p>
      </div>
    </p>
  </div>
</p>
