<h1><%= current_user.name.titleize %>'s Dashboard</h1>
<p>
<div class="well well-sm">
  <%= link_to "Add a New Shelter", new_rescue_group_shelter_path(current_user) %> -
  <%= link_to "Add a New Transporter", new_rescue_group_transporter_path(current_user) %>
</div>

<div class="panel panel-info", data-no-turbolink>
  <div class="panel-heading">Account Information</div>
    <strong>Owner:</strong> <%= current_user.user.full_name %><br />
    <strong>Username:</strong> <%= current_user.user.username %><br />
    <strong>Phone Number:</strong> <%= current_user.user.phone_number %><br />
    <strong>Email address:</strong> <%= current_user.user.email_address %><br />
</div>

<div class="panel panel-info", data-no-turbolink>
  <div class="panel-heading">Rescue Group Information</div>
    <strong>Rescue Name:</strong> <%= current_user.name %><br />
    <strong>Primary Contact:</strong> <%= current_user.contact %><br />
    <strong>Contact Number:</strong> <%= current_user.phone_number %><br />
    <strong>Email address:</strong> <%= mail_to("#{current_user.email_address}", current_user.email_address) %><br />
    <strong>Emergency Contact:</strong> <%= current_user.emergency_contact %><br />
</div>
<div class="panel panel-info", data-no-turbolink>
  <div class="panel-heading">Associated Shelters</div>
    <% if current_user.shelters.any? %>
      <% current_user.shelters.each do |shelter| %>
        <strong>Shelter Name:</strong> <%= shelter.name %><br />
        <strong>Primary Contact:</strong> <%= shelter.contact_person %><br />
        <strong>Phone Number:</strong> <%= shelter.phone_number %><br />
        <strong>Address:</strong><br />
        <p>
          <%= shelter.address.address1 %><br />
          <%= shelter.address.address2 + '<br />' unless shelter.address.address2.blank? %>
          <%= shelter.address.city %>, <%= shelter.address.state %> <%= shelter.address.zip %><br />
        </p>
      <% end %>
    <% end %>
</div>
</p>

