<% if current_user %>

  <% if current_user_rescue_group && current_user.class.to_s != "User" %>

    <%= render "rescue_groups" %>

  <% else %>

    <%= render "common" %>

  <% end %>

<% else %>

  <%= render "guests" %>

<% end %>
