<h1><%= current_user.full_name %>'s Rescue Groups</h1>
<div class="panel panel-body">
  <% if current_user.rescue_groups.count != 0 then %>
    <div class="panel panel-default">
    <ul>
      <% current_user.rescue_groups.sort.each do |rg| %>
        <li><%= link_to "#{rg.name}", rescue_group_path(rg) %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p><%= link_to "New Rescue Group", new_user_rescue_group_path(current_user) %> || <%= link_to "Return to Dashboard", dashboard_path, reload: true %></p>
