<h1>New Rescue Group</h1>

<%= form_for [current_user, @rescue_group], signed: true do |f| %>
    <p>
      <%= f.label :name, "Name of Rescue" %>
      <%= f.text_field :name %><br />
    </p>

    <p>
      <%= f.label :phone_number, "Phone Number" %>
      <%= f.text_field :phone_number %><br />
    </p>

    <p>
      <%= f.label :email_address, "Email Address" %>
      <%= f.text_field :email_address %><br />
    </p>

    <p>
      <%= f.label :contact, "Primary Contact" %>
      <%= f.text_field :contact %><br />
    </p>

    <p>
      <%= f.label :emergency_contact, "Emergency Contact" %>
      <%= f.text_field :emergency_contact %><br />
    </p>

      <%= f.fields_for :address do |builder| %>
        <p>
            <%=	builder.label :address1, "Address Line 1" %>
            <%=	builder.text_field :address1 %><br />
            <%=	builder.label :address2, "Address Line 2" %>
            <%=	builder.text_field :address2 %><br />
            <%=	builder.label :address3, "Address Line 3" %>
            <%=	builder.text_field :address3 %><br />
            <%=	builder.label :city, "City" %>
            <%=	builder.text_field :city %><br />
            <%=	builder.label :state, "State" %>
            <%=	builder.text_field :state %><br />
            <%=	builder.label :zip, "Zip Code" %>
            <%=	builder.text_field :zip %><br />
        </p>
      <% end %>

    <%= f.submit %>

<% end %>

