<h2><%= @rescue_group.name %></h2>
<p>
<div class="panel panel-info">
<div class="panel-heading">Account Info</div>

  <strong>ID#:</strong> <%= @rescue_group.id %><br />
  <strong>Joined: <%= @rescue_group.created_at %><br />
  <strong>Last Updated:</strong> <%= @rescue_group.updated_at %><br />
  <strong>Role:</strong> <%= current_user.role.titleize %>

</div>
</p>

<p>
<div class="panel panel-info">
<div class="panel-heading">Contact Info</div>

  <strong>Email Address:</strong> <%= mail_to(@rescue_group.email_address, "#{@rescue_group.email_address}",
                                             subject: "Rescue Group Contact") %><br/>
  <strong>Contact:</strong> <%= @rescue_group.contact %><br/>
  <strong>Phone Number:</strong> <%= @rescue_group.phone_number %><br />
  <strong>Emergency Contact:</strong> <%= @rescue_group.emergency_contact %><br/>

</div>
</p>

<p>
<% if @rescue_group.shelters.count != 0 then %>
  <div class="panel panel-info">
  <div class="panel-heading">Shelter Info</div>

  <% @rescue_group.shelters.each do |sh| %>
    <strong>Name:</strong> <%= link_to "#{sh.name}", rescue_group_shelter_path(sh, rescue_group_id: @rescue_group) %><br />
  <% end %>
  </div>
<% end %>
</p>

<p>
<div class="well">

  <%= link_to "* Add New Shelter", new_rescue_group_shelter_path(@rescue_group)%><br />
  <%= link_to "Go Back to Dashboard", dashboard_path(id: @rescue_group) %><br />

  </p>
