<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
 <title>
    <% if content_for?(:title) %>
        <%= yield(:title) %>
    <% else %>
        Animal Transporter Plus
    <% end %>
 </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "bootstrap-ie" %>
  <![endif]-->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Zoie Plus", "/", :class => "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/about">About</a></li>
          <li><a href="/services">Transportation Services</a></li>
          <li><a href="/equipment">Transportation Equipment</a></li>
          <li><a href="/contact_us">Contact Us</a></li>
          <% if current_user %>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/account">Account</a></li>
            <li><%= link_to "Sign Out", logout_path %>
          <% else %>
            <li><a href="/register">Register</a></li>
            <li><%= link_to "Sign In", login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, :class => "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable" do %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= msg %>
      <% end %>
    <% end %>

    <%= yield %>

  </div>
  <div class="footer" font="small" align="center">
    Copyright &copy; 2013 CyberSpace Technologies Group. All Rights Reserved. <a href="https://www.gandi.net/ssl/secured/thezoieplus.com/45861/8db194129d"><%= image_tag("GANDI_SSL_logo_A_std_en.png") %></a>
  </div>
</body>
</html>
